asgiref==3.8.1
Django==4.2.2
django-extensions==3.2.3
pillow==10.4.0
sqlparse==0.5.1






# appdirs
# asgiref
# astroid
# atomicwrites
# attrs
# bcrypt
# beautifulsoup4
# blinker
# certifi
# cffi
# cfgv
# chardet
# click
# colorama
# colorlog
# cryptography
# cycler
# Deprecated
# distlib
# dj-database-url
# Django==4.2.2
# django-bootstrap-form
# django-bootstrap4
# django-cors-headers
# django-crispy-forms
# django-debug-toolbar
# django-djmongo
# django-extensions
# django-filter
# django-localflavor
# django-markdown-deux
# django-oauth-toolkit
# django-recaptcha
# django-simple-tags
# django-webpack-loader
# django-widget-tweaks
# djangorestframework
# Faker
# filelock
# flake8
# flake8-polyfill
# Flask
# fonttools
# future
# gitdb
# GitPython
# gunicorn
# identify
# idna
# iniconfig
# ipython-genutils
# isort
# itsdangerous
# jdt
# Jinja2
# joblib
# jsonschema
# jupyter-core
# jwcrypto
# kiwisolver
# lazy-object-proxy
# mando
# markdown2
# MarkupSafe
# matplotlib
# mccabe
# msgpack-python
# mysql-connector
# nbformat
# ndjson
# nodeenv
# numpy
# oauthlib
# packaging
# pandas
# paramiko
# Pillow
# plotly
# pluggy
# pre-commit
# progress
# psutil
# #psycopg2
# py
# pycodestyle
# pycparser
# pyflakes
# pylint
# pymongo
# PyNaCl
# pyOpenSSL
# pyparsing
# pyrsistent
# pysftp
# pytest
# python-dateutil
# python-stdnum
# pytz
# #pywin32
# PyYAML
# radon
# requests
# retrying
# rope
# scikit-learn
# scipy
# selenium
# six
# smmap
# soupsieve
# sqlparse
# Statis
# tabulate
# text-unidecode
# threadpoolctl
# toml
# traitlets
# urllib3
# virtualenv
# virtualenvwrapper-win
# Werkzeug
# whitenoise
# wily
# wrapt
# zope.interface
