{% extends 'base/base.html' %}
<div id="crear-materia">
    <form method="POST" class="form">
        <div class="edit-rectangulo1">
            {% csrf_token %}
            <p class = "text-center reg-titles">
        </div>
    <div class="cp-rectangulo2">
        <div class="logo-registracion only-lt">
            <img src="/static/imagenes/Logo_i210_fondo_trans.png" class="logo-reg only-lt">
        </div>
        <div class="botones-edituser">
            <button type="submit" class="btn btn-blue" >Guardar</button>
        </div>
    </div>
</div>