{% extends 'base/base.html' %}

{% block title %}Cambiar contraseña{% endblock %}

{% block content %}
<div>
    {% if validlink %}
        <form method="POST" class="form">
            {% csrf_token %}
            <div class="edit-rectangulo1" style="padding-bottom: 70px;">
                <p class="text-center reg-titles">
                    <p style="font-size: 25px;font-weight: bold">Cambiar contraseña</p>
                    <br>
                    <p class="text-center form-item" style="font-weight: bold;">Nueva Contraseña:</p>
                    {{ form.new_password1 }}
                    {% if form.new_password1.errors %}
                        <p class="error">{{ form.new_password1.errors }}</p>
                    {% endif %}
                    <br>
                    <p class="text-center form-item" style="font-weight: bold;">Repetir Nueva Contraseña:</p>
                    {{ form.new_password2 }}
                    {% if form.new_password2.errors %}
                        <p class="error">{{ form.new_password2.errors }}</p>
                    {% endif %}
                </p>
            </div>
            <div class="cp-rectangulo2">
                <div class="logo-registracion only-lt">
                    <img src="/static/imagenes/Logo_i210_fondo_trans.png" class="logo-reg only-lt">
                </div>
                <div class="botones-edituser">
                    <button type="submit" class="btn btn-blue">Cambiar</button>
                </div>
            </div>
        </form>
    {% else %}
    <!--bloque para cuando el enlace no es valido-->
        <p style="font-size: 30px">El enlace para restablecer la contraseña no es válido, posiblemente porque ya ha sido utilizado.</p>
            <p style="font-size: 30px">Por favor, solicita un nuevo restablecimiento de contraseña.</p>
    {% endif %}
</div>
{% endblock %}