{% extends 'base/base.html' %}

{% block title %}Registro de usuario{% endblock %}

{% block content %}

<div class="index-body"> 
  <br>  
  <h1 style="margin-bottom: 22px;">Cambio de contraseña</h1>
  <p style="font-size: 25px;">Usuario : {{ request.user.email }}</p>
  
  
  <p style="font-size: 25px;">
      El cambio de contraseña se realizó con éxito!
  </p>
  
  <a name="" id="" class="btn btn-blue" href="{% url 'login' %}" role="button" style="margin-left: 180px">Volver al login</a>
</div>

{% endblock %}








