<!-- lista_finales_user.html -->
{% extends 'base/base.html' %}

{% block title %}Lista de finales{% endblock %}

{% block content %}

    <div class="card">
        <div class="card-headers" style="border-radius: 5px;">
            <h4 class="card-title">Lista de finales</h4>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th class="h5">Materia</th>
                        <th class="h5">Llamado</th>
                        <th class="h5">Estudiante</th>
                        <th class="h5">Nota</th>
                        <th class="h5">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% if finales %}
                        {% for final in finales %}
                            <tr class="materia text-center"hidden=True>
                                <td class="h6">{{final.llamado.materia}}</td>
                                <td class="h6">{{final.llamado.llamado}}</td>
                                <td class="h6">{{final.usuario}}</td>
                                <td class="h6">            
                                    {% for nota in final.notas %}
                                        <p>{{ nota.nota_final }}</p>
                                    {% endfor %}
                                </td>
                                <td>
                                    <a name="" id="" class="btn btn-primary" href="/cargar_nota_final/{{final.id}}" role="button">Cargar nota</a>
                                    <a name="" id="" class="btn btn-danger" href="/eliminar_inscripcion_final/{{final.id}}" role="button">Dar de baja</a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <div class="alert alert-danger"> No hay finales disponibles.</div>
                    {% endif %}
                </tbody>
            </table>
        </div>
        <nav aria-label="..." class="d-flex justify-content-center">
            <ul class="pagination">
              <li class="page-item" id='btnAnt'>
              <button class="page-link" title="Anterior" id='btnAnt_' style="cursor: pointer;"onclick="paginaAnt()">←</button>
              </li>
              <li class="page-item" id='btnSig'>
              <button class="page-link" title="Siguiente" id='btnSig_' onclick="paginaSig()">→</button>
              </li>
            </ul>
          </nav>
    </div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> 
<script>
    var pagina = 1
if (pagina = 1)
{
  document.getElementById("btnAnt").className="page.item disabled"
}
let elementos = document.querySelectorAll('.materia');
if (elementos.length<=10)
{
  document.getElementById("btnSig").className="page.item disabled"
}
for (let i = 0; i <= pagina*10-1; i++) {
  try{elementos[i].hidden=false}
  catch(e){console.log("Tenes que cerrar el estadio")}
  }
function paginaSig()
{
  let elementos = document.querySelectorAll('.materia');
  for (let i = pagina*10-10; i <= pagina*10-1; i++) {
    try{elementos[i].hidden=true}
    catch(e){console.log("Anda, todo pelota.")}
    }  
  pagina=pagina+1
  if (pagina>1)
  {
    document.getElementById("btnAnt").className="page-item active"
  }
  for (let i = pagina*10-10; i <= pagina*10-1; i++) {
    try{elementos[i].hidden=false}
    catch(e){console.log("No hay mas usuarios")
    document.getElementById("btnSig").className="page.item disabled"
    }
    }
} 
function paginaAnt()
{
  document.getElementById("btnSig").className="page.item active"    
  let elementos = document.querySelectorAll('.materia');
  for (let i = pagina*10-10; i <= pagina*10-1; i++) {
    try{elementos[i].hidden=true}
    catch(e){console.log("Parmisano no mires esto")}
    }
  pagina=pagina-1
  if (pagina>1)
  {
    document.getElementById("btnAnt").className="page-item active"
  }
  else{document.getElementById("btnAnt").className="page-item disabled"}
  for (let i = pagina*10-10; i <= pagina*10-1; i++) {
    try{elementos[i].hidden=false} 
    catch(e){console.log("Mission Accomplished")}
    }
  }
  document.querySelectorAll('button').forEach(node => 
  node.addEventListener('keydown', e => {
      if (e.key === 'Enter' || e.key === ' ') {
          e.preventDefault();
      }
  })
);
$(document).ready(function() {
  // Selecciona todos los elementos y recórrelos
  $('*').each(function() {
      // Verifica si el innerHTML es exactamente "None"
      if ($(this).html().trim() === "None") {
          $(this).html("-");
      }
  });
});

</script>
{% endblock %}